<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dsTycoon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Windows.Threading" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <dsTycoon.My.MySettings>
      <setting name="PreProduction" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="DevPoints" serializeAs="String">
        <value>32000</value>
      </setting>
      <setting name="Timer" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="EnginePts" serializeAs="String">
        <value>0.35</value>
      </setting>
      <setting name="SpecMin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SpecMax" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="StageMin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StageMax" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Exp1980" serializeAs="String">
        <value>550</value>
      </setting>
      <setting name="Exp1990" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Exp2000" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="Exp2010" serializeAs="String">
        <value>1400</value>
      </setting>
      <setting name="Exp2020" serializeAs="String">
        <value>1600</value>
      </setting>
      <setting name="Exp2030" serializeAs="String">
        <value>1850</value>
      </setting>
      <setting name="Exp2040" serializeAs="String">
        <value>2100</value>
      </setting>
      <setting name="MinIncome_AI" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="MaxIncome_AI" serializeAs="String">
        <value>1.4</value>
      </setting>
      <setting name="StressReturn" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PTORequest" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="RandomEvents" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ContractMin" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="ContractMax" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ContractCostMin" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="ContractCostMax" serializeAs="String">
        <value>16000</value>
      </setting>
      <setting name="ResearchPer" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EngineDev" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="TimerFast" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MinStressNorm" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MaxStressNorm" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="MinStressOT" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxStressOT" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="MinEXPGain" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxEXPGain" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ChallengeFreq1" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ChallengeFreq2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ChallengeFreq3" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="DirectMin" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="DirectMax" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="MarketingFactor" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MarketingThreshold" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PublisherAdvantage" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="DirectionBonus" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="UpStock" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="WillingnessToPublish" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TrendSetter" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ConsolePts" serializeAs="String">
        <value>0.65</value>
      </setting>
      <setting name="ConsoleDev" serializeAs="String">
        <value>64000</value>
      </setting>
      <setting name="EmployeePayThreshold" serializeAs="String">
        <value>0.60</value>
      </setting>
      <setting name="ContractPenalty" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AlertNewGame" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertBankruptcy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertRetiredEngines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertRetiredGames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertCompanyFounded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsMusic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelfPublishFreq" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SettingsCorruptMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FullPublisher" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="DirectionGift" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="RegMinStress" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RegMaxStress" serializeAs="String">
        <value>8</value>
      </setting>
    </dsTycoon.My.MySettings>
  </userSettings>
</configuration>